// Car specific styles

#cardebug
  font-family courier-new
  position absolute
  left 0px
  top 0px
  background-color #eee
  opacity 0.5
  z-index 50
  text-align left
  padding 20px
  border 1px solid #aaa
  color #000
  
.car
  width 10px
  height 10px
  background transparent
  position absolute
  transform-origin 50% 45%
  margin 0
  padding 0
  /*border 1px solid #f00*/
  z-index 60
  rotate (-90deg)
  
  .chat
    width 200px
    background-color #555
    round 10px
    z-index 35
    position absolute
    bottom 95px
    left -120px
    opacity 0.8
    color #eee
    text-align left
    padding 10px
    z-index 55
    
    p
      top 0px
      width 200px
      color #fff
      font-size 20px
      margin auto
      z-index 35
      
    .spike
      position absolute
      bottom -10px
      left 35%
      z-index 35
      
  .img
    width 70px
    height 128px
    top -64px
    left -35px
    background-image url(/images/minis.png)
    position absolute
    transform-origin 35px 64px
    margin 0
    padding 0
    z-index 30
    /*border 1px solid #000*/
    
  p
    opacity 0.5
    color #000
    top 80px
    position relative