// Sign in styles

#signIn
  top 50px
  bottom 50px
  left 0px 
  right 0px
  position absolute
  width 100%
  height auto
  background-color #ddd
  vertical-gradient #fff, #ddd
  background-position bottom center
  background-repeat no-repeat
  text-align center

  h1
    margin 10em 0em 1em
    font-size 20pt
    color #888
    font-weight 300

  input[type="text"]
    text-align center
    font-size 20pt
    padding 5px
    border solid 1px #ccc
    color #555
    round 5px
    
#signInError
  margin-top 10px
  color #FF5555
  font-size 12pt
  round 5px