!!! 5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html,charset = UTF-8")
    meta(name="apple-mobile-web-capable", content="yes")
    meta(name="apple-mobile-web-status-bar-style", content="black-translucent")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0, user-scalable = no")
    != SocketStream
    title SocketRacer
  body
    #wrapper
      #navigationTop
        img(class='navigationLogo', src='/images/racerlogo.png')
      #main.views.hidden
        #canvas
          #laptimer
            #clap
            #blap
          #controls
            #controlsdetails.hidden
              p 
                strong Controls: 
              ul
                li Up - Forward
                li Down - Brake/Reverse
                li Left - Turn left
                li Right - Turn right
                li Space - Handbrake
                li Enter - Chat
                li H - Horn
              br  
              | Click to hide
            #controlsbutton
              | Show controls
          #cardebug.hidden
          #wrongway.hidden
            | Wrong way!
          #buttons-left
            #debug 
              | Show debug
            #changecol
              | Change colour
            #control-left.hidden.control.left
            #control-right.hidden.control.right

          #buttons-right
            #radar
              span.title radar
            #control-up.control.up.hidden
            br
            #control-down.control.down.hidden
            
          #viewport
            #tiles
      input(type='text')#chatentry.hidden
      #navigationBottom
        p
          a(href='https://github.com/alz/socketracer', target='_blank') SocketRacer
          |  proof of concept by
          a(href='https://about.me/alanmilford', target='_blank') Alan Milford 
          |  based on the awesome
          a(href='https://github.com/socketstream/socketstream', target='_blank') SocketStream
          |  framework.
          a(href='https://github.com/alz/socketracer', target='_blank') Get the code.
        
      form(onsubmit="return false")#signIn.views.hidden
        h1 Please enter a username
        input(type="text", autofocus)
  
      #browserNotSupported.hidden
        h1 Sorry folks
        p Your browser is not supported :(
        p Please use either Google Chrome or Apple Safari.

      
    audio#hbaudio.hidden
      img
      source(src='/sounds/handbrake.mp3')
    audio#horn.hidden
      source(src='/sounds/horn.mp3')
    audio(loop)#engine

    