!!! 5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html,charset = UTF-8")
    meta(name="apple-mobile-web-capable", content="yes")
    meta(name="apple-mobile-web-status-bar-style", content="black-translucent")
    meta(name="viewport", content="width = device-width, initial-scale = 0.5, user-scalable = no")
    != SocketStream
    title SocketRacer
  body
    #wrapper
      #navigationTop
        img(class='navigationLogo', src='/images/racerlogo.png')
      #main.views.hidden
        #canvas
          #controls
            #controlsdetails.hidden
              p 
                strong Controls: 
              ul
                li Up - Forward
                li Down - Brake/Reverse
                li Left - Turn left
                li Right - Turn right
                li Space - Handbrake
                li Enter - Chat
              br  
              | Click to hide
            #controlsbutton
              | Show controls
          #cardebug.hidden
          #buttons-left
            #debug 
              | Show debug
            #changecol
              | Change colour
            #control-left.hidden.control.left
            #control-right.hidden.control.right

          #buttons-right
            #radar
              span.title radar
            #control-up.control.up.hidden
            br
            #control-down.control.down.hidden
            
          #viewport
            #tiles
      input(type='text')#chatentry.hidden
      #navigationBottom
        p
          a(href='https://github.com/alz/socketracer') SocketRacer
          |  proof of concept by
          a(href='https://github.com/alz') Alan Milford
          |  based on the awesome
          a(href='https://github.com/socketstream/socketstream') SocketStream
          |  framework
        
      form(onsubmit="return false")#signIn.views.hidden
        h1 Please enter a username
        input(type="text", autofocus)
  
      #browserNotSupported.hidden
        h1 Sorry folks
        p Your browser is not supported :(
        p Please use either Google Chrome or Apple Safari.
